/********   Common styles    ********/
@import url('https://fonts.googleapis.com/css?family=Enriqueta:400,700|Roboto:100,300,400');

body {
    font-family: "Enriqueta", serif;
    font-size: 1.125rem;
    color: #444;
    line-height: 1.9;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    /*font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;*/
    font-weight: 300;
    margin: 0;
}

p {
    font-size: 1.125rem;
    margin-bottom: 1.6rem;
}

body section:not(#home) {
    padding-top: 80px;
}

.display-none {
    display: none;
}

.red, .introheading {
    color: #772432;
}

.heading {
    font-size: 3rem;
    font-weight: 300;
}

.blue, .subheading {
    color: #004165;
    padding-top: 5px;
}

.subheading {
    padding-top: 5px;
}

.heading-2 {
    color: #004165;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 0;
}

.separator {
    font-size: 2rem;
    color: lightgrey;
}

.btn {
    margin: 1rem;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-size: 0.85rem;
    text-transform: uppercase;
    padding: 12px 18px;
    border-radius: 3px;
    letter-spacing: 0.1em;
    color: white;
}

.btn:hover {
    color: white;
}

.btn-red {
    background: #772432;
    color: white;
}

.btn-blue {
    background: #004165;
    color: white;
}

section .container:first-of-type {
    padding-bottom: 20px;
}

.display-4, .display-5 {
    font-weight: 100;
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 6px 0;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    font-size: 18px;
    color: #5f5f5f;
}

.form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border-color: #aeaeae;
}

/********   Navbar styles    ********/
nav {
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 1.5;
    -webkit-transition: all 500ms;  /* Safari, Chrome, Android, iOS */
    -moz-transition: all 500ms;     /* Firefox */
    -ms-transition: all 500ms;      /* Internet Explorer */
    -o-transition: all 500ms;       /* Opera */
    transition: all 500ms;
}

.nav-margin {
    margin: 15px 0;
}

.nav-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand {
    font-size: 2.25rem;
    -webkit-transition: font 500ms;  /* Safari, Chrome, Android, iOS */
    -moz-transition: font 500ms;     /* Firefox */
    -ms-transition: font 500ms;      /* Internet Explorer */
    -o-transition: font 500ms;       /* Opera */
    transition: font 500ms;
}

.navbar-nav {
    letter-spacing: 0.03rem;
}

.navbar-nav .active a:after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #772432;  
    -webkit-animation: scaleLeftRight 500ms;
    -moz-animation: scaleLeftRight 500ms;
    -ms-animation: scaleLeftRight 500ms;
    -o-animation: scaleLeftRight 500ms;
    animation: scaleLeftRight 500ms;
    -webkit-transform-origin: 0%;
    -moz-transform-origin: 0%;
    -ms-transform-origin: 0%;
    -o-transform-origin: 0%;
    transform-origin: 0;
}

@-webkit-keyframes scaleLeftRight {
    0% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
    }

    100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
}
  
@keyframes scaleLeftRight {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0)
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

/********   Carousel styles    ********/
#carousel {
    width: 100%;
    height: 100vh;
}

#carousel img {
    object-fit: none;
    object-position: center;
    height: 100vh;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    transform: scale(1.01);
}

#carousel-container {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 50px;
    height: 100vh;
}

[class*="carousel-control-"] {
    font-size: 1.5em;
    -webkit-transition: font 300ms;  /* Safari, Chrome, Android, iOS */
    -moz-transition: font 250ms;     /* Firefox */
    -ms-transition: font 250ms;      /* Internet Explorer */
    -o-transition: font 250ms;       /* Opera */
    transition: font 250ms;
}

[class*="carousel-control-"]:hover {
    font-size: 2em;
    cursor: pointer;
}

.carousel-indicators li {
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.carousel-indicators li:hover {
    cursor: pointer;
}

#mouse {
    position: absolute;
    left: 50%;
    margin-left: -13px;
    bottom: 5em;
    z-index: 9;
}

#mouse svg {
    display: block;
}
  
#mouse svg rect {
    stroke-dasharray: 120;
    stroke: white;
}

#mouse i {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    width: 4px;
    height: 10px;
    left: 11px;
    top: 11px;
    background-color: #fff;
    -webkit-animation: scrollBouncing 2s ease-out infinite;
    animation: scrollBouncing 2s ease-out infinite;
}
  
@keyframes scrollBouncing {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes scrollBouncing {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

.carousel-item .container .jumbotron {
    z-index: 9;
    background: none;
    color: white;
    width: auto;
    padding: 3rem;
}

.jumbotron-control {
    margin: 3rem 0;    
    line-height: 1.5;
}

#hero1 {
    position: absolute;
    top: 40%;
    left: 10%;    
}

#hero2 {
    position: absolute;
    top: 20%;
    right: 10%;    
}

#hero3 {
    position: absolute;
    top: 20%;
    left:50%;
    transform: translateX(-50%);
}

/********   About section styles    ********/

.tm-value-h4 {
    font-family: "Enriqueta", serif;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 5px;
    color: rgba(119, 36, 50, 0.4);
    
}

#about ul li {
    margin-bottom: 35px;
}

/********   Education section styles    ********/
.education-item div {
    font-size: 8em;
    color: rgba(119, 36, 50, 0.2);
    position: absolute;
    top: -40px;
    right: 0;
    z-index: 0;
  }

#training-material {
    padding-top: 80px;
    padding-bottom: 70px;
}

#training-material img {
    padding: 10px;
}


/********   Contact Us section styles    ********/
.contact-address li{
    font-size: 1.25rem;
    padding: 15px 0;
}

.contact-address li i{
    font-size: 2.375rem;
    vertical-align: middle;
}

.contact-address li span {
    padding-left: 15px; 
}

#contact .social-icons a {    
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 3px;
    background: #f7f7f7;
    color: #555;
    padding: 8px 12px;;
    vertical-align: middle;
    border: 1px solid #f7f7f7;
    margin: auto 5px;
}

#contact .social-icons a:hover {
    border: 1px solid #aaa;
}

#contact-form .btn {
    margin: 0;
}

#contact-form .form-check {
    padding-top: 5px;
}

/********   Footer styles    ********/
footer {
    padding: 40px 0;
    background-color: #3B3B3B;
}

footer nav {
    background: none;
    box-shadow: none;
}

.nav-footer {
    text-align: center;
    margin: 10px 0;
    padding-bottom: 15px;
}

.nav-footer li {
    margin: 0 20px;    
    padding-left: 5px;
    padding-right: 5px;
}

.nav-footer li a {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

.nav-footer li a:hover {
    text-decoration: underline;
}

.copyright {
    margin: 0;
    font-size: 14px;
    color: #a0a0a0;
    text-align: center;
}