/********   Common styles    ********/
@import url('https://fonts.googleapis.com/css?family=Enriqueta:400,700|Roboto:100,300,400');

body {
    font-family: "Enriqueta", serif;
    font-size: 1.125rem;
    color: #444;
    line-height: 1.9;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    /*font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;*/
    font-weight: 300;
    margin: 0;
}

p {
    font-size: 1.125rem;
    margin-bottom: 1.6rem;
}

body section:not(#home) {
    padding-top: 80px;
}

.introheading {
    color: #772432;
}

.heading {
    font-size: 3rem;
    font-weight: 300;
}

.subheading {
    color: #004165;
    padding-top: 5px;
}

.heading-2 {
    color: #004165;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 0;
}

.separator {
    font-size: 2rem;
    color: lightgrey;
}

.btn {
    margin: 1rem;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 100;
    font-size: 1.125rem;
}

section .container:first-of-type {
    padding-bottom: 20px;
}

.display-4, .display-5 {
    font-weight: 100;
}


/********   Navbar styles    ********/
nav {
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 1.5;
    -webkit-transition: all 500ms;  /* Safari, Chrome, Android, iOS */
    -moz-transition: all 500ms;     /* Firefox */
    -ms-transition: all 500ms;      /* Internet Explorer */
    -o-transition: all 500ms;       /* Opera */
    transition: all 500ms;
}

.nav-margin {
    margin: 15px 0;
}

.navbar-brand {
    font-size: 2rem;
    -webkit-transition: font 500ms;  /* Safari, Chrome, Android, iOS */
    -moz-transition: font 500ms;     /* Firefox */
    -ms-transition: font 500ms;      /* Internet Explorer */
    -o-transition: font 500ms;       /* Opera */
    transition: font 500ms;
}

.navbar-nav {
    letter-spacing: 0.03rem;
}

.navbar-nav .active a:after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #659419;    
    -webkit-animation: scaleLeftRight 500ms;
    -moz-animation: scaleLeftRight 500ms;
    -ms-animation: scaleLeftRight 500ms;
    -o-animation: scaleLeftRight 500ms;
    animation: scaleLeftRight 500ms;
    -webkit-transform-origin: 0%;
    -moz-transform-origin: 0%;
    -ms-transform-origin: 0%;
    -o-transform-origin: 0%;
    transform-origin: 0;
}

@-webkit-keyframes scaleLeftRight {
    0% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
    }

    100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
}
  
@keyframes scaleLeftRight {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0)
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

/********   Carousel styles    ********/
#carousel {
    width: 100%;
    height: 100vh;
}

#carousel img {
    object-fit: none;
    object-position: center;
    height: 100vh;
}

#carousel-container {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 50px;
    height: 100vh;
}

[class*="carousel-control-"] {
    font-size: 1.5em;
    -webkit-transition: font 300ms;  /* Safari, Chrome, Android, iOS */
    -moz-transition: font 250ms;     /* Firefox */
    -ms-transition: font 250ms;      /* Internet Explorer */
    -o-transition: font 250ms;       /* Opera */
    transition: font 250ms;
}

[class*="carousel-control-"]:hover {
    font-size: 2em;
    cursor: pointer;
}

.carousel-indicators li {
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.carousel-indicators li:hover {
    cursor: pointer;
}

#mouse {
    position: absolute;
    left: 50%;
    margin-left: -13px;
    bottom: 5em;
    z-index: 9;
}

#mouse svg {
    display: block;
}
  
#mouse svg rect {
    stroke-dasharray: 120;
    stroke: white;
}

#mouse i {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    width: 4px;
    height: 10px;
    left: 11px;
    top: 11px;
    background-color: #fff;
    -webkit-animation: scrollBouncing 2s ease-out infinite;
    animation: scrollBouncing 2s ease-out infinite;
}
  
@keyframes scrollBouncing {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes scrollBouncing {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

.carousel-item .container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron {
    background: rgba(0,0,0,0.25);
    color: white;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
}

.jumbotron-control {
    margin: 3rem 0;    
    line-height: 1.5;
}

/********   About section styles    ********/

.tm-value-h4 {
    font-family: "Enriqueta", serif;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 5px;
    color: rgba(119, 36, 50, 0.4);
    
}

#about ul li {
    margin-bottom: 35px;
}



/********   Contact Us section styles    ********/
.contact-address li{
    font-size: 1.25rem;
    padding: 15px 0;
}

.contact-address li i{
    font-size: 2.375rem;
    vertical-align: middle;
}
.contact-address li span {
    padding-left: 15px; 
}

#contact .social-icons a {    
    border-radius: 2px;
    background: lightgrey;
    color: gray;
    padding: 10px;
    vertical-align: middle;
}